*{
    color: black;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.left{
    width: 30%;
    border: 3px solid black;
    margin: 3px;
}
img{
    width: 95%;
}
.right{
    margin: 3px;
    width: 60%;
    border: 3px solid black;
    box-shadow: 4px 4px 4px wheat;
}
.cr{
    background-color: thistle;
    color: purple ;
    border: 2px  solid purple;
    box-shadow: 3px 3px 3px plum;

}
.skills{
    background-color: plum;
    color: purple;
    border: 2px  solid purple;
    box-shadow: 3px 3px 3px plum;
    padding: 2px;
    border-radius: 2px;
}
